body {
    padding: 0;
    margin:0;
   font-family: 'Roboto', sans-serif;
   background: #fff;
   overflow-x: hidden;
}
a{-webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

h1, h2, h3, h4, h5, h6{font-family:'Roboto-Bold', sans-serif}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:'Roboto-Bold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-style: normal; font-weight: normal;
}

@font-face {
    font-family:'Roboto-Medium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-style: normal; font-weight: normal;
}
.mt0{margin-top: 0 !important}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mt40{margin-top:40px;}
.mb20{margin-bottom:20px;}
.relative{position: relative;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.around10{padding: 10px;}
.around40{padding: 40px;}
.spaceb10{padding-bottom: 10px;}
.spaceb40{padding-bottom: 40px;}
.spacet40{padding-top: 40px;}
.spaceb60{padding-bottom: 60px;}
.spacet60{padding-top: 60px;}

.fullwidthinner,
.fullwidth{ width: 100vw;position: relative; left: 50%;margin-left: -50vw;}
.toparea{background: #f48000;padding-bottom: 8px;}
.loginbtn{border-radius: 6px;
    border: 1px solid #fff;
    padding: 6px 20px !important;
    margin-top: 8px;
    margin-left: 10px;}
.social{padding: 0;margin: 8px 0 0;}
.social li {margin: 0px; list-style: none; display: inline-block;}
.social li:first-child {margin-left: 0;}
.social li a {
  width: 34px;
  height: 34px;
  display:block;
  border: 2px solid #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
}
.social li a:hover{background: #000;}
.top-list{}
.top-list {padding: 0;margin:0;list-style: none;text-align: center;}
.top-list li{
  position:relative;
  color:#fff;
  display:inline-block;
  color: #fff;
  padding: 5px 0px 5px 15px;
  font-size: 15px;
  }
.top-list li i{margin:0px 8px 0px 0px; }
.top-list li a{color: #fff;text-decoration: none;}
.top-list li a:hover{ color:#424242; text-decoration: none;}
.top-right{margin: 0;padding: 8px 0 0;float: right;}
.top-right li{list-style: none;margin-left: .5em;display: inline-block;}
.top-right li a{
    color: #fff;
    padding: 0em 1em;
    line-height: 30px;
    text-decoration: none;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 20px;
}
.top-right li a:hover {background: #424242;}
.top-right li i{padding-right: 0.7em;}

.header-extras {float: right;margin: 18px 0 0;padding: 0;transition-duration: 0.8s;-webkit-transition-duration: 0.8s;-ms-transition-duration: 0.8s;}
.header-extras li {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    list-style: none;
   
}
.header-extras li {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #EEE;
}
.header-extras li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}
.i-plain {
    width: 36px!important;
    height: 36px!important;
    font-size: 28px;
    line-height: 36px!important;
    color: #1c1b17;
}
.i-plain{
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center!important;
    font-size: 28px;
    cursor: pointer;
    font-style: normal;
}
.header-extras li i {
    margin-top: 3px!important;
    font-size: 36px;
}
.header-extras li i {margin-top: 5px!important;font-size: 36px;}
.header-extras li:first-child {margin-left: 0}
.header-extras li a{color: #1c1b17;text-decoration: underline;}
.header-extras li .he-text {float: left;font-weight: normal;text-transform: uppercase;color: #1c1b17;}
.header-extras li .he-text span {display: block;font-weight:normal;text-transform: lowercase;font-weight: 600;}
.logo{text-align: center;transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;}


.header_menu {
    display: block;
    background: #2b2a29;
    position: relative;
    border-bottom: 3px solid #fbbe07;
    padding-bottom: 0px; 
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 18px;
    font-size: 16px;
}
.navbar {
    border-radius: 0px;
    position: relative;
     min-height: 100%; 
    margin-bottom: 0px !important;
     border: 0px solid transparent; 
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f58000 !important;
}
.nav>li>a.active {
    color: #f3f3f3;
    background: #f58000;
}

.nav>li {border-right: 1px solid rgb(62, 62, 62);}
.navbar-toggle {
    position: absolute;
    right: 0px;
    z-index: 9999;
    top: -63px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f58000 !important;border: 1px solid #000 !important;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #ffed00;
}
header{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    }
.logo{padding: 0px 0 0;}
.navbar{margin-bottom: 0;}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
.navbar-nav>li>a {color: #fff;}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

li.active a{
	background: #f58001;
}
.navbar-right .dropdown-menu {
    right: auto;
    left:0;
    border-top: 2px solid #01bafd;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu>li>a{padding:6px 20px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #f58000 !important;
}


 .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #f48000;
} 
.mt10{margin-top: 10px;}
.spacet50{padding-top: 50px;}
.spaceb50{padding-bottom: 50px;}
.more-btn:hover{ background: #2b2a29; color: #fff; text-decoration: none;}
.more-btn {
    background: #fbbe07;
   border-radius: 30px; padding: 10px 30px;
    text-align: center;display: inline-block;
    border: 1px solid transparent;
    color: #fff;   
    -webkit-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
}
.headtitle{position: relative;padding-bottom: 15px; margin-bottom: 25px;}
.headtitle:after{content: ""; position: absolute;left: 0;width:50px; height: 2px;
    background: #2b2a29;bottom: 0; }
 .about {
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.about:before {
    content: '';
    background: #b0dd38;
    width: 34%;
    height: 3px;
    position: absolute;
    bottom: 0;
}
.about:after{
    content: '';
    background: #f28104;
    width: 10%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0%;
}
.abouttext{font-size: 14px;color: #8d8d8d;line-height: 30px;}
.bs-slider{
    overflow: hidden;
    height:335px;
    position: relative;
    border-radius: 4px;
}
.background-opacity{position: relative;}

.background-opacity:before {
    border-radius: 4px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}
.about-title {
   background-image: url(../images/aboutbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    width: 100vw;
    color: #fff;
    text-align: center;
    height: 60vh;
    top: -50px;
}

.about-title:before {
    border-radius: 4px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}

.about-title .innermain {height: 100%;display: table; width: 100%;}
.page-title-wrapper {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2
}

.captions {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 7px 0
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
    text-transform: capitalize
}

.breadcrumb li {display: inline-block}
.breadcrumb li a {color: #cccccc}
.breadcrumb li a:hover {color: #1ea0e0}
.breadcrumb li:last-child {pointer-events: none}
.breadcrumb li.active a {color: #fff}
.breadcrumb li + li:before {
    padding: 0 10px;
    color: #cccccc;
    content: '\f105';
    font-family: FontAwesome
}



.aboutpage {margin: 2em 0 0 0;}
.aboutpage-icon{width: 41px;position: absolute;}
.aboutpage-icon i.fa {color: #1da0e1;font-size: 2em;}
.aboutpage-info{margin-left: 40px;}
.aboutpage-info h5 {font-size: 1.3em;margin-top: 0;text-transform: uppercase;}
.aboutpage-info p{line-height: 1.8em;}

.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}

.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 15%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1 {
    
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {font-size: 18px;}
}


@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 320px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}

.welcome-text{
    font-size: 32px;
    margin-bottom: 20px;
}
.welcome-text span {
    color: #F4A460;
}
.welcome-i {
    color: #F4A460;
    font-size: 80px; padding-bottom: 20px;
}
.lineh24{line-height: 24px;}
.m-t0{margin-top: 0;}
.mb30{margin-bottom: 30px;}
.h2 {
    font-family: 'Open Sans', sans-serif;
    color: #58575d;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 20px;
    font-weight: 700;
}
.separator {
    display: inline-block;
    height: 3px;
    width: 50px;
    margin-bottom: 10px;
    position: relative;
    background-color: #029EB7;
}

.scrollToTop {
  border-radius: 4px;
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  padding: 5px 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.scrollToTop i {
  display: block;
}
.scrollToTop span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}



.catetab{
    background: #f58001;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px 4px 0px 0;
}

      
.sidebar{position: -webkit-sticky;position: sticky;top: 0px;}
.catelist{padding:0;margin: 0;border: 1px solid #ddd;}
.catelist li{display: block;list-style: none;position: relative;border-bottom: 1px solid #ddd;}
.catelist li a{color: #000;text-decoration: none;padding: 10px 35px;display: block;}
.catelist li a:after{content: "\f105";position: absolute;top: 10px;left: 20px;font-family:'FontAwesome';}
.catelist li a:hover{color: #fff;text-decoration: none;background: #2c2a29;}
.catelist li:last-child{border-bottom: 0;}
.complain{ 
background: #f58001;
font-size: 24px; 
margin-top: 5px; 
padding-left: 55px; 
overflow: hidden;
display: inline-block;
vertical-align: middle;
line-height: 40px;  
width: 100%;
}
.newsborder{border:1px solid #ddd; padding: 10px 10px 0;}
.newsbox{width: 100%;clear: both;overflow: hidden;padding-bottom: 10px;
    margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.date_item span{display: block; width: 100%;overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;}
.date_item{width: 60px; border-radius: 4px;padding-top: 5px; background:#2c2a29;color: #fff;  
    border:1px solid #000; 
  height: 50px; position: absolute; left: 0;  text-align: center;}   
.complain i{position:absolute;left: 30px;font-size: 40px;}
.complain a{
  text-decoration: none;
  display: block;
  transition: all 1s ease 0s;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  }
.complain a:hover{display: block;  color: #fff;}

.newsmain{display: block; margin-left: -20px;}
.newscontent {
    position: relative;
  width:100%;
  height:292px;
  overflow:hidden;
  border:1px solid #ddd;
  padding:10px 15px;
  border-radius: 0px 0px 4px 4px;
}

.newscontent .mask {
  position: relative;
  width:100%;
  height:280px;
  overflow: hidden;
}
.newscontent ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.newscontent ul li:last-child{border-bottom: 0;}
.newscontent ul li {
  padding:10px 0px 10px 70px; clear: both; width: 100%; margin-bottom: 10px;
   border-bottom: 1px solid #ddd; display: block;min-height: 80px;position: relative;
}
.newscontent ul li a {text-decoration:none;color: #000;}

 .newscontent ul li a.date, 
.newscontent ul li a:hover{color: #f48000; text-decoration: none;}

.newspagebox{background: #fff;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.30);min-height: 200px;
    border-radius: 4px;margin-top: 30px;padding: 28px;position: relative; overflow: hidden;}
.newspagebox h5{font-weight: 700;color: #35373e; text-transform: uppercase; margin-top: 0; }
.newspagebox h6{font-weight: 700;color: #ff910b;}
.newspagebox p{color: #35373e;}
.newspagebox a{display: block;color: #ff910b;}
.newspagebox a:hover{color:#2c2a29; text-decoration: none; }
.newspagebox a:after{content: "\f178";
    display: inline-block;
    margin-left: 6px;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    color: #ff910b;}
 .newspagebox:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #2c2a29;
    border-radius: 4px;
    transition: .3s ease-out;
    cursor: pointer;
}     

.newsinner{background: #2c2a29; padding: 30px 30px 40px;}
.newsmaindiv .col-md-4{ padding-right: 5px;padding-left: 5px;}
.newsmaindiv .row {margin-right: -20px;margin-left: -20px;}
.newspagebox2{
    background: #fff;
    min-height: 200px;
    border:1px solid #bfbebe;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.30);
    }
.newspagebox2 h2{color: #35373e; text-transform: uppercase; margin-top: 0;  font-size: 20px;}    
.newspagebox2 h3{color: #fff; text-transform: uppercase; margin-top: 0;  
    text-align: center; font-size: 18px;}
.newspagebox2 h4{color: #fff; font-size:16px; margin-top: 0;text-align: center;}
.newspagebox2 p{color: #35373e;}
.newspagebox2 a{display: block;color: #ff910b;}
.newspagebox2 .date2{color: #ff910b; font-weight: 700;}
.newspagebox2 a:after{content: "\f178";
    display: inline-block;
    margin-left: 6px;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    color: #ff910b;}
.news_titles {
    background: #f5f5f5;
    margin: -30px 20px 0;
    padding: 15px 20px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.30);
}

.datenews span{display: block; width: 100%;overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;}
.datenews{width: 60px; border-radius: 4px;padding-top: 5px; background:#2c2a29;color: #fff;  
    border:1px solid #000; align-items: center; 
  height: 50px; position: absolute; left: 0;  text-align: center;}  
.newshidescroll{overflow-y: scroll !important; height: 450px !important}
/* --- Map --- */
.map{position:relative; display: block;border-radius: 4px; border:1px solid #ccc; margin-top: 30px; margin-bottom:30px;}
.map iframe{width:100%;border:none;display:block;border-radius: 4px;}
.map-grid iframe{width:100%;border:none;padding:0; display: block; border:0; outline: 0;}
.address-list{padding: 0; margin: 0; list-style: none;}
.address-list li{display: block;padding: 2px 30px;position: relative;}
.address-list li i{content: "";position: absolute;left: 0;top: 2px;font-family:'FontAwesome';font-size: 20px;}
.address-list li a{text-decoration: none; color:#000;}
.address-list li a:hover{text-decoration: none; color:#ee771c;}
.address-list li img{position: absolute;left: 0;top: 16px;}
.contact{display: block;}
.contact h3{
    font-weight: bold;
    color: #262626;
    padding: 0 0 20px 0; margin-bottom: 0;}

.time-list{padding: 0; margin: 0; list-style: none;}
.time-list li{display: block;padding:2px 0px;position: relative;}
  
.contact-form{padding-top: 20px;} 
.contact-form .form-group label {font-weight: normal;}

.contact-form .form-group .form-control {
  padding: 10px 12px;
  border:#ccc 1px solid;
}
.contact-form .form-group .form-control textarea:focus,
.contact-form .form-group .form-control input:focus{border:1px solid #e9b914;box-shadow:none;}
textarea#message{resize: none;padding: 10px;border-radius:0;}
.pink-btn:focus,
.pink-btn:hover{ background: #2b2a29; color: #fff; text-decoration: none;}
.pink-btn {
    background: #f58001;
   border-radius: 4px;
    text-align: center;
    border: 0; outline: 0;
    color: #fff; 
    padding: 8px 20px;
    font-size: 18px;
    line-height: 1.2em; 
    margin-left: 20px;
  transition: all 0.5s ease; 
}

.eventbox {
  position:relative; overflow: hidden;
  transition: all 1s ease 0s;
      border-top: 1px solid #ddd;
    padding-top: 15px;margin-top: 15px;
}
.eventbox a{color: #000; cursor: pointer; display: block;border-radius: 4px;}
.eventbox a:hover{color: #f58001; cursor: pointer; text-decoration: none;}

.eventbox img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0px;
}
.eventbox h3{font-size: 20px;margin-bottom:0px;color: #f58001;font-weight: bold;}

.gallheight{height: 200px; overflow: hidden;}
.gallerylist{position: relative; display: block;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.31);
    padding: 10px; border-radius: 4px;}   
.gallerylist img{width: 100%; height: auto;border-radius: 4px;} 
.gallerylist-title{position: absolute;
    background: rgba(0, 0, 0, 0.73);
    color: #fff;
    width: 100%;border-radius: 0 0 4px 4px;
    padding: 10px 10px;
    bottom:0px;}

.galleryfancy .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.galleryfancy:hover .content-overlay{opacity: 1;border-radius: 4px;}
.overlay-details {
  color: #fff;
  font-size: 24px;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.galleryfancy:hover .overlay-details{top: 50%;left: 50%;opacity: 1;}
.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
.galleryfancy{display: block; margin-bottom: 30px; position: relative;
    padding: 5px;border: 1px solid #ddd; border-radius: 4px;}
.galleryfancy img{width: 100%; height: auto;border-radius: 4px;}
.fancy-lightbox{display:-ms-flexbox!important;display:flex!important;
  -ms-flex-align:center;align-items:center;-ms-flex-pack:center;
  justify-content:center;padding-right:0!important}
.fancy-lightbox-container{position:relative}
.fancy-lightbox-container>div.fancy-lightbox-item{position:absolute;top:0;left:0;bottom:0;right:0;
  width:100%}
.fancy-lightbox iframe{width:100%;height:100%}
.fancy-lightbox-nav-overlay{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;
  display:-ms-flexbox;display:flex}
.fancy-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;
  display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;
  color:#fff;font-size:30px;z-index:1}
.fancy-lightbox-nav-overlay a>*{-ms-flex-positive:1;flex-grow:1}
.fancy-lightbox-nav-overlay a>:focus{outline:none}
.fancy-lightbox-nav-overlay a span{padding:0 30px}
.fancy-lightbox-nav-overlay a:last-child span{text-align:right}
.fancy-lightbox-nav-overlay a:hover{text-decoration:none}
.fancy-lightbox-nav-overlay a:focus{outline:none}
.fancy-lightbox-nav-overlay a.disabled{cursor:default;visibility:hidden}
.fancy-lightbox a:hover{opacity:1;text-decoration:none}
.fancy-lightbox .modal-dialog{display:none}
.ekko-lightbox .modal-footer{text-align:left}
.fancy-lightbox-loader{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;
  display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;
  -ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.fancy-lightbox-loader>div{width:40px;height:40px;position:relative;text-align:center}
.fancy-lightbox-loader>div>div{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;
  position:absolute;top:0;left:0;animation:a 2s infinite ease-in-out}
.fancy-lightbox-loader>div>div:last-child{animation-delay:-1s}
.modal-dialog .fancy-lightbox-loader>div>div{background-color:#333}
.fancy-lightbox-item img{border-radius: 4px;}
.modal-title{display: none;}
.fancy-lightbox  .modal-header{padding: 0px;
    border-bottom:none;}
.fancy-lightbox  .close{background: #000;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    color: #fff;
    outline: 0;
    border-radius: 100%;
    font-size: 20px;
    position: absolute;
    right: -10px;
    opacity: 100;
    top: -10px;
    text-shadow: none;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 5px #000;}
.fancy-lightbox  .close:hover{background: #6b0f10; opacity: 100; color: #fff;display: block;}
@keyframes a{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}

.cuadro_intro_hover{
      padding:0px;
    position: relative;
    overflow: hidden;
    height: 230px;border-radius:4px;
    margin-bottom: 30px;
  }
  .cuadro_intro_hover:hover .eventcaption{
    opacity: 1;
    transform: translateY(-180px);
    -webkit-transform:translateY(-180px);
    -moz-transform:translateY(-180px);
    -ms-transform:translateY(-180px);
    -o-transform:translateY(-180px);
  }
  .cuadro_intro_hover img{
    text-align: center;border-radius: 4px 4px 0 0px;
   width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  .cuadro_intro_hover .eventcaption{
    position: absolute;
    top:180px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .cuadro_intro_hover .blur{
    background:rgba(30, 160, 224, 0.86);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
}
.event20{padding: 0px 10px;color: #fff;position: relative;z-index: 6;}

.svg {width: 50px; height: 50px;}
.svg path {fill: #fff !important;}

.about_img img{width: 100%; height: auto; }
.about_img{position: relative;margin-top: 30px;}
.about_img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.about_img:hover:after {
  opacity: 1;
}


.about-right{display: block; margin-top: 30px;}
.about-right h3{text-transform: uppercase; font-size: bold; margin-top: 0}
.panel-heading .accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f01a";
    float: right;
    color: #fff;
    font-size:18px;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f01b";
}
.accrodion2{display: block;}
.accrodion2 .panel-default>.panel-heading{background-color: #f48000;color: #fff;padding: 15px 15px;
 -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}
.accrodion2 .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}
.accrodion2 .panel-title a{color: #fff !important}
.accrodion2 .panel-default>.panel-heading:hover{
    color: #fff; background: #b46208;
}
.courses-box{
  border: 1px solid #f0f0f0;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: all 1s ease 0s;margin-bottom: 15px;} 

.courses-box:hover, .courses-box:focus, .courses-box:active {
    -webkit-transform: translateY(-8px);transform: translateY(-8px);}
.courses-box-img {position:relative;overflow: hidden;}
.courses-box-img img{width:100%;transition: all .4s; position: relative;}
.courses-box-img:hover img{
 transform: scale(1.15, 1.15) rotate(-5deg);
    -webkit-transform: scale(1.15, 1.15) rotate(-5deg);
    -moz-transform: scale(1.15, 1.15) rotate(-5deg);
}
.courses-box{border: 1px solid #d6d6d6; border-radius: 4px;}
.courses-box-img {position:relative;overflow: hidden;}

.courses-box:hover .courses-box-img i {
    color: #fdc800;
    opacity: 100;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}
 .courses-box-img i{font-size: 22px;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    color: #ff3115;
    z-index: 11;
    color: #fff;
    font-weight: 400;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease 0s;}

.courses-box .courses-box-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.courses-box:hover .courses-box-img:before {
      -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.courses-box-img img{width:100%;transition: all .4s; position: relative;}
.courses-box:hover .courses-box-img img{
 transform: scale(1.15, 1.15) rotate(-5deg);
    -webkit-transform: scale(1.15, 1.15) rotate(-5deg);
    -moz-transform: scale(1.15, 1.15) rotate(-5deg);
}
.courses-box:hover .course-inner{background: #f48000;color: #fff;}
.course-inner{padding: 25px 20px;transition: 0.4s;}
.course-inner h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 11px;
}
.course-subject{color: #000}

.btn-read {
    background: #f48000;
    text-align: center;
    border: 1px solid #f48000;
    outline: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.5s ease;
} 
.courses-box:hover .btn-read {background: #fff;color: #000;text-decoration: none;}

.courses-box:hover .course-subject{color: #fff; text-decoration: none;}
.course-inner p{ padding-bottom: 10px; }  
.countdown_bg{background: #f5821f;background-size: cover;position: relative;padding: 70px 0;text-align:center;z-index: 0;}
.countdown_bg h3 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #FFF;
  font-weight: 700;
  position: relative;
}
.countdown_bg h3:after{
    content: "";
    background: rgba(255, 255, 255, 0.26);
    height: 1px;
    width: 100%;
    bottom: 0;
    margin: 20px auto auto;
    display: block;
    }

.countdown_bg span {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.countdown_bg i {
  color: #fdd333;
  font-size: 56px;
}

.testimonial_bg{
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  z-index: 0;
  color: #fff;
  background-image: url(../images/testimonails.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

}

.testimonial_bg:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 0;
}

.testimonial_bg h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.testimonial_bg .testi_description{ 
    display: inline-block;
    text-align: center;
    margin-right: 5%;}
.testimonial_bg .testimonialimg {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 0 auto;
    overflow: hidden;
    border: 8px solid rgba(255,255,255,0.15);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.testimonial_bg .testimonialimg img {width: 100%;height: 100%;}
.testi_description h4 {font-size: 16px;font-weight: bold;color: #fff;margin: 20px 0 0 0;}
.testimonial-content span {font-size: 12px;color: #fff;}
.testimonial_bg .testi_description {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
     border: 8px solid rgba(255,255,255,0.15);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-top: 20px;
    background:rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 4px;
}
.testimonial_bg .testi_description:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.15);
    position: absolute;
    top: -28px;
    left: 49.5%;
}
.owl-carousel .owl-nav, .owl-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}
.owl-carousel .owl-nav .owl-prev {
    left: 0px;
}
.owl-carousel .owl-nav .owl-next {
    right: 0px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #2b2a29;
    background-color: #f48000;
    color: #fff;
    transform: translateY(-50%);
    font-size: 22px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.courses-carousel .owl-nav .owl-prev:hover, .courses-carousel .owl-nav .owl-next:hover {
    background: #fff;
    color: #000;
}
.owl-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ddd;
}

.owl-carousel .owl-dot.active {background-color: #f48000;}

@media only screen and (max-width: 480px){}

.staffteam{ margin-top: 20px; text-align: center;}
.staffteamimg{display: block;overflow: hidden;border-radius: 4px;}
.staffteamimg img{width: 100%; height: auto}

.staffteam .staffteamimg {position:relative;overflow: hidden; height: 250px;}
.staffteam .staffteamimg img{width:100%;transition: all .4s; position: relative;}

.staff-content {
  padding: 0 10px 15px;
  transition:.3s;
}
.instructor-icon {margin-top: 15px;}
.staffteam .staffteamimg img {
    width: 100%;
    transform: scale(1);
    transition: all 500ms ease;
}

.staffteam:hover .staffteamimg img {
    transform: scale(1.3);
    transition: all 500ms ease;
}

.staffteam .staffteamimg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0.0);
    transition: all 500ms ease;
}

.staffteam:hover .staffteamimg:before {
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 500ms ease;
}

.social-links{margin:0; padding: 0; list-style: none; display: none;}

.social-links li {
    position: relative;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  margin-right: 5px;
  text-align: center;
  border-radius: 100%;
  width: 36px;
  color: #000;
  transition: .3s;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.175);
}
.social-links li a.active{color: #fff;background: #f5821f;}
.social-links li a:hover{color: #fff;background: #f5821f;}
.social-links li a:last-child{margin-right:0;}
.social-links li a i {
  line-height: 36px;
  font-size: 14px;
}
.staff-content h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.staff-content span {
  color: #333;
  font-weight: 400;
}


.our-facility{background-color: #ED6600;
    padding: 50px 0px 50px 0px; color: #fff;}

 .counter-content{color: #fff; text-align: left;}   
.counter-main {
    border:1px solid rgba(255, 255, 255, 0.19);
    padding: 30px 30px 18px;
    border-radius: 4px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 15px;
}
.counter-main:hover{    box-shadow: 0 6px 29px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.creative_heading{
    font-size: 30px;
    word-wrap: break-word;
    font-weight: 700;
}
.creative_heading span{color: #ed6600;}

.owl-carousel, .teamstaff{clear: both;}
.services { position: relative;}
.service-inner {}
.service-box {
  border-right:1px solid rgba(255, 255, 255, 0.21);
  padding: 30px 30px 20px 40px;
  display: block;
  color: #fff;
  background-color: #2b2a29;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #f48000;
  width: 32.5% !important
}
.service-box:first-child {
    border-radius: 5px 0px 0px 5px;
}
.service-box:last-child {
  border-right: none; border-radius: 0px 5px 5px 0px;
}
.service-box .service-box-content {position: relative;padding-left: 60px;}
.service-box .service-box-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}
.service-box .service-box-content h3 a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box .service-box-content p {
  color: #FFFFFF;
  font-weight: 400;
  width: 80%;
}
.service-box .service-box-icon {
     padding-top: 10px;
     position: absolute;
     left: 0;
     top: -15px;
}

.service-box .service-box-icon img {
width: 50px;
height: auto;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}

.service-box .service-box-icon i {
  color: #fdc800;
  font-size: 36px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.service-box:hover .service-box-content h3 a {
  color: #fdc800;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box:hover .service-box-content p {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box:hover .service-box-icon i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.whychooses {text-align: center; padding-top: 30px;}
.whychooses-icon {margin-bottom: 18px;}
.whychooses-icon{
  border-radius: 100%;
  height: 120px;
  width: 120px;
  display: block;
  background: #FFFFFF;
  line-height: 120px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.whychooses:hover .whychooses-icon{
    background:rgb(162, 217, 245);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.whychooses-icon img {width: 60px; height: 60px; } 
.whychooses h3 a{color: #000;}
.whychooses:hover h3{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.whychooses:hover h3 a{color: #1ea0e0; text-decoration: none;}
.whychooses p {width: 80%;margin: 0 auto;}

.head-title2 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.head-title2:after {
    position: absolute;
    content: "";
    left: 0;
    width: 50px;
    background: #f5821e;
    height: 2px;
    bottom: 0;
}

.facility_bg {
   background-image: url(../images/achievements-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 60px 0 60px;
    background-size: cover;
    color: #fff;
    position: relative;
}

.facility_bg:before {
    border-radius: 4px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}


.visionbg{background: #005C97; color: #fff; padding: 20px; }
.misssion{border-top:4px solid #005C97; background: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); padding-bottom: 50px; margin-top: 30px; min-height: 365px;}
.whitebox{background: #fff; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); padding: 40px;}
.blue-box1 {background-color: #005C97;color: #fff;text-align: center;}
.sports{display: block;}
.sports h2{font-size:24px;}



@media (max-width: 767px){
    .misssion{min-height: 100%;}
    .affix#alert .header-extras{display: none;}
    .about_img{margin-bottom: 20px;}
    .header_menu {background: transparent; border:0;}
    .navbar-collapse{background: #2b2a29;}
}    

@media (min-width: 768px) and (max-width:991px) {
  .navborder .navbar-nav>li>a {padding: 23px 15px;}
}

ul.square li {
    list-style: square;
    padding: 3px;
    margin-left: -25px
}


.latestevent{padding: 10px 0;} 
.latestevent h4 a{color: #bd0745;}  
.latestevent img{ -webkit-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1); border-radius: 4px;}
.image img{width: 100%; height: auto;}  

.scrollToTop {
  border-radius: 100%;
  bottom: 20px;
  color: #fff;
  display: none;
  font-size: 24px;
  line-height: 40px;
  padding-top: 9px;
  height: 40px;
  background: #f48001;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
   z-index:2; 
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.scrollToTop:hover {background-color: #2b2a29;color: #fff; text-decoration: none;}

footer{background: #282828;clear: both;padding-top: 20px;}
.fo-title{color: #fff;position: relative;padding-bottom: 15px;margin-bottom: 25px;font-size: 22px;}
.fo-title:after{position: absolute;content: "";background: #ffffff;width: 40px;height: 2px;bottom:0;left: 0;}
.f1-list{padding: 0; margin: 0; list-style: none;}
.f1-list li{display: block; padding:2px 15px; position: relative;}
.f1-list li a:after{ content: "\f105";
    position: absolute;
    top: 2px;
    left: 0px;
    font-family: 'FontAwesome';}
.f1-list li a{text-decoration: none; color:#fff;}
.f1-list li a:hover{text-decoration: none; color:#ff910b;}
.co-list{padding: 0; margin: 0; list-style: none;}
.co-list li{display: block;padding: 5px 30px;position: relative;color:#fff;}
.co-list li i{content: "";position: absolute;left: 0;top: 8px;font-family: 'FontAwesome';color: #ffffff;}
.co-list li a{text-decoration: none; color:#fff;}
.co-list li a:hover{text-decoration: none; color:#ff910b;}
.fleft{text-align: left;}
.fright{text-align: right;}
.copy-right{background: #111111;margin-top: 30px;padding-bottom: 2px;padding: 15px 0 0px;color:#fff;}
a.copy {color: #fff;}
.copy img{width: 15px; height: 15px;}
a.copy:hover{color: #d56e00;text-decoration:underline;}

.latest{margin: 0; padding: 0;}
.latest li{list-style: none;display: block;border-bottom: solid 1px #d1d1d1;color: #fff;padding: 0 0 0 60px;position: relative;padding-bottom: 10px;margin-bottom: 15px;}
.latest li img{position: absolute;top: 4px;left: 0px;width: 60px;}
.latest li i{position: absolute;top: 0px;left: 0px;background-color: #f58001;font-size: 24px;
    text-align: center;border-radius: 4px;padding: 12px;}
.latest li:last-child{border-bottom:0;}
.fbolist{margin:0;padding:0;}
.fbolist li{list-style: none; display: inline-block; position: relative;}
.fbolist li a {text-decoration: none; color: #fff; padding: 0 10px;}
.fbolist li:after{content: "|"; position: absolute;
    left: -3px;
    top: -1px;
    font-size: 15px;}
    .fbolist li:first-child:after{display: none;}
.fbolist li a:hover{text-decoration: underline;}

@media(max-width: 767px){
.social, .top-list{text-align: left; }
.top-right {float: none;text-align: center;margin-top: 5px;}
.header-extras{display: none;}
.fleft, .fright{text-align: center;}
.logo img {height: 50px;}
.navbar-nav .open .dropdown-menu>li>a {color: #fff;}
.newsmain{margin-left:0px; margin-top: 15px;}
.service-box {width: 100% !important}
.service-box:first-child {border-radius: 0px;}
.service-box:last-child {border-radius:0;}
.bs-slider {height: 100%;}
.service-box{margin-bottom: 15px;}
.sm-pd0{
    padding: 0; 
}
.sm-pd0 form{
    padding:0;
}
}

@media (min-width:900px) {
 .dropdown:hover .dropdown-menu {display: block;}   
 .dropdown .dropdown-menu{display: none;}
}
@media(min-width: 768px) and (max-width:992px){
    .logo {height: 60px;}
}

@media(min-width:320px) and (max-width: 480px){
  .gallery figure {-ms-flex-preferred-size: 100%;flex-basis:100%;}  
}
@media(min-width:481px) and (max-width: 767px){
  .gallery figure {-ms-flex-preferred-size: 50%;flex-basis:50%;}  
}
@media(min-width:992px) and (max-width: 1199px){
  .logo img{height: 60px;}
  .header-extras li {margin-left: 15px;padding-left: 15px;}
}


.onlineformbtn{
    border-radius: 30px;
    /*box-shadow: 0px 5px 25px 0px rgba(166, 196, 55, 0.35);*/
    padding: 5px 20px;
     border:0;
    display: inline-block;
    font-size: 14px;
    background: #f48000;
    text-decoration: none !important;
    color: #fff !important;
    text-align: center;
    line-height: 24px;
    transition: all 0.5s ease 0s;
}   

.onlineformbtn a{
  text-decoration: none;
  transition: all 1s ease 0s;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  }
.onlineformbtn:hover{color: #fff;background: #2b2a29;}
.contact-item {
  margin-top: 30px; margin-bottom: 30px;
    padding: 30px 30px;
    text-align: center;
    background-color: #f8fdff; 
    border:1px solid #ececec;
    transition: all .3s ease-in;
    min-height: 225px;
}
.contact-item h3{font-size: 20px; margin-top: 0;
    text-transform: uppercase;
    color: #000;}
.contact-item svg{width: 66px; border: 2px solid #036494;
    height: 66px;  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; display: block;}
.contact-item img {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.contact-item p{line-height: 20px; margin-bottom: 0;}
.courses-head{margin:0px 0 5px;}
.courses-head span{color: #fbbe07;}
.contact-item:hover {background-color: #fff;border:1px solid rgba(51, 51, 51, 0.36); box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);}
.contact-page{padding-top: 30px;padding-bottom: 30px;}

.contact-page .contact-form{padding-top: 20px;} 
.form-group label {font-weight: normal;}
.mapWrapper iframe{display: block;}
textarea{
   resize: none;
   padding: 10px;
   border-radius:0;
}

.contact-page .contact-wrap {margin-top: 20px;}
.submitbtn:hover{ background: #2b2a29; color: #fff; text-decoration: none;}
.submitbtn {
    background: #036494;
   border-radius: 30px; padding: 10px 30px;
    text-align: center;display: inline-block;
    border: 1px solid transparent;
    color: #fff;   
    -webkit-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
}

#cookieConsent {
    background-color: #f48000;
    min-height: 26px;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 2;
    text-align: center;
}
#cookieConsent a {color: #fff;text-decoration: none;}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 28px;
    padding-right: 20px
}
#closeCookieConsent:hover {color:#424242;}
#cookieConsent a:hover{color:#0084B4;}
#cookieConsent a.cookieConsentOK {
    background-color: #fff;
    color: #000;
    display: inline-block;
    border-radius: 2px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 10px 0 10px;
    text-decoration: none;
}
#cookieConsent a.cookieConsentOK:hover {background-color: #424242;color: #fff;}
/*safari Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  ::i-block-chrome, .newscontent { overflow:hidden; } 
  ::i-block-chrome, .fullwidth {width: 102em;margin-left: -51em;}
  ::i-block-chrome, .countdown_bg, ::i-block-chrome,.testimonial_bg{background-attachment: local;}
  ::i-block-chrome, .contact-item img{line-height: normal;}
}

.catpcha{cursor:pointer; padding-left: 10px;}
#captcha_image img{border-radius: 8px;}
@media(max-width:767px){
   #captcha_image img{margin-bottom:5px;} 
}
.req{color:red;}
.displaynone{display: none;}
.dropify-wrapper{height: 34px !important; border-radius: 4px; cursor: pointer;}
.align-items-center {-ms-flex-align: center;align-items: center;}
.justify-content-center {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.d-flex {display: -ms-flexbox !important;display: flex !important;}
.flex-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.align-items-stretch {-ms-flex-align: stretch;align-items: stretch;}
.statusright{float: right}
.statusimg{padding: 0; margin: 0; list-style: none;float: right;}
.statusimg li{display: inline-block; text-align: center;}
.statusimg li+li{padding-left: 20px;}
.statusimg li img{border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    flex-shrink: 0;
    min-width: 40px;
    min-height: 40px;
    overflow: hidden;}
.statusimg p{margin-bottom: 0;}    
.printbtndrakgray {color: #fff;background-color: #727272;border-color: #525252;}    
.printbtndrakgray:hover{    color: #fff;background-color: #070707;border-color: #525252;}
.printcontent {border-radius: 3px;border:1px solid #ddd;padding: 0px 15px 0px; width: 100%; margin-bottom: 10px; }  
.printcontent p{margin-bottom:0px;}
.pagetitleh2 {
    background: #f3f3f3;
    margin: 0;
    font-size: 16px;
    padding: 8px 15px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.entered{font-weight: bold; margin-bottom: 0; margin-top: 10px;}
.formstatus{border: 1px solid #ccc;padding: 5px 20px;display: block; border-radius: 3px;}
.formstatus b{padding-right: 2px;}
.reflist{margin: 0; padding: 0; list-style: none;}
.reflist li{display: inline-block; text-align: center; font-weight: bold; border:1px solid #ddd; padding: 10px 2px; 
border-radius: 4px; background: #f9f9f9; font-size: 13px;}
.reflist li+li{margin-left: 0px;}
.reflist li span{display: block;}
@media(max-width:767px){
    .statusright,
    .formstatus{margin-top: 10px;}
    .printcontent .form-group{margin-bottom:15px;}
    .statusimg{margin-top: 10px;}
}
  
.modalclosebtn:focus,
.modalclosebtn:hover{background: #000;color: #fff; outline: none}    
.modalclosebtn {display: inline-block;vertical-align: top; padding: 5px 15px; background: #786e6d;    
color: #fff;transition: all 0.5s ease 0s;
border-radius: 30px;border:0;text-decoration: none; text-align: center;line-height: 24px;}
.modal-header-small{padding: 5px 15px;}
.closebtnmodal{opacity: 100;margin-top: 10px !important;}
.mdbtn{width:100px;}
.capture-icon{cursor: pointer;padding-left:10px; padding-right: 10px;}
.d-flex{display: flex;}
.align-items-center{align-items: center}
.btnMD{float: right;}
@media(min-width:768px){
    .width-auto{width: auto;}
}

img{
    max-width: 100%;
}